{% extends 'base.html' %}

{% block title %}{% endblock title %}
{% block content %}

{% if user.is_authenticated %}
        <p> Привет {{ user.username }}</p>
        <p><a href="{% url 'logout' %}">Выйти</a></p>
    {% else %}
        <p>Вы не авторизованы!</p>
        <a href="{% url 'signup' %}">Регистрация</a>
        <a href="{% url 'login' %}">Войти</a>
    {% endif %}
<div class="jumbotron">
    <h1 class="display-4"><a href="/films">Новинки</a></h1>
    <p class="lead"><a href="{% url 'post_new' %}">Новый пост</a></p>
</div>
{% endblock content %}